<div class="card">
    <div class="card-body" id="employeeContainer">
        <h3>Danh sách Employee</h3>
        <button class="btn btn-primary" onclick="createEmployee()">Thêm mới</button>
        <table id="employeeTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Dân tộc</th>
                    <th>Nghề nghiệp</th>
                    <th>Số điện thoại</th>
                    <th>CCCD</th>

                </tr>
            </thead>
            <tbody>
                @foreach(var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FullName</td>
                        <td>@employee.DateOfBirth</td>
                        <td>@employee.EthnicGroup</td>
                        <td>@employee.Job</td>
                        <td>@employee.PhoneNumber</td>
                        <td>@employee.IdentityCard</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#employeeTable').DataTable({
            "language": {
                "search": "Tìm kiếm:",
                "lengthMenu": "Hiển thị _MENU_ dòng",
                "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ mục",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tiếp",
                    "previous": "Trước"
                }
            }
        });
    });
    var createEmployee = function () {
        $.get("/Employee/Create", function (data) {
            $("#employeeContainer").html(data);
        });
    }
</script>